*{
	font-family: Arial;
}

body{
	background-color: #24607f;
	padding: 0;
	margin: 0;
}

#container{
	margin: 105px auto;
	width: 850px;
}
/*NUEVO*/
#menu{
	background-color: #fff;
	position: fixed;
	text-align: center;
	top: 0;
	width: 850px;

	box-shadow: 0 2px 5px rgba(0,0,0,0.5);
}

#menu ul{
	margin: 0;
	padding: 0;
}

#menu ul li{
	list-style: none;
	display: inline-block;
	padding: 40px 10px;
	margin-left: -25px;
}

#menu ul li a{
	color: #000;
	font-size: 14px;
	font-weight: bold;
	padding: 40px 10px;
	text-decoration: none;

	-webkit-transition: all .5s;
}
#menu ul li a:hover{
	background-color: #ff5105;
	color: #fff;
}


.logo, .logo:hover{
	background: #ff5105 url(../img/logo.png);
	background-repeat: no-repeat;
	background-position: center center; 
	padding-left: 71px !important;
	padding-right: 71px !important;
}
/*NUEVO*/
.logo2{
	background: #fff url(../img/logo_2.png);
	background-repeat: no-repeat;
	background-position: center center; 
	padding-left: 71px !important;
	padding-right: 71px !important;
}
.seleccionado{
	background-color: #ff5105;
	color: #fff !important;	
}

#slider{
	height: 450px;
	margin-top: 10px;
	overflow: hidden;
	width: 100%;

	-webkit-box-shadow: 1px 1px 10px rgba(0,0,0,0.5);
	-moz-box-shadow: 1px 1px 10px rgba(0,0,0,0.5);
	-o-box-shadow: 1px 1px 10px rgba(0,0,0,0.5);
	box-shadow: 1px 1px 10px rgba(0,0,0,0.5);
}


h2{
	color: #a3e0ff;
	font-size: 28px;
	margin-bottom: 50px;
	margin-top: 50px;

	-webkit-text-shadow: 1px 1px 7px rgba(0,0,0,0.5);
	-moz-text-shadow: 1px 1px 7px rgba(0,0,0,0.5);
	-o-text-shadow: 1px 1px 7px rgba(0,0,0,0.5);
	text-shadow: 1px 1px 7px rgba(0,0,0,0.5);
}

.contenido{
	background-color: #fff;

	-webkit-box-shadow: 1px 1px 10px rgba(0,0,0,0.5);
	-moz-box-shadow: 1px 1px 10px rgba(0,0,0,0.5);
	-o-box-shadow: 1px 1px 10px rgba(0,0,0,0.5);
	box-shadow: 1px 1px 10px rgba(0,0,0,0.5);	
}
.contenido p{
	font-size: 14px;
	padding: 40px;
}

#formulario{
	background-color: #d2d2d2;
	margin-top: -20px;
	padding: 40px;

	-webkit-box-shadow: inset 0 1px 5px rgba(0,0,0,0.5);
	-moz-box-shadow: inset 0 1px 5px rgba(0,0,0,0.5);
	-o-box-shadow: inset 0 1px 5px rgba(0,0,0,0.5);
	box-shadow: inset 0 1px 5px rgba(0,0,0,0.5);
}

#formulario form{
	font-size: 14px;
	margin: 0 auto;
	width: 400px;
}

textarea{
	height: 100px;
	width: 400px;
}

.campo, textarea{
	background: #eee;
	border: 0;
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 10px;
	width: 400px;

	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
}

.campo:focus, textarea:focus{
	background: #fff;
	outline: none;

	-webkit-box-shadow: 0 0 10px #24607f;
	-moz-box-shadow: 0 0 10px #24607f;
	-o-box-shadow: 0 0 10px #24607f;
	box-shadow: 0 0 10px #24607f;
}

.boton{
	background: #ff8a00;
	border: 0;
	color: #fff;
	margin-left: 125px;
	padding: 10px;
	width: 150px;	

	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
}
.boton:hover{
	background-color: #ff5105;
}

#footer{
	color: #fff;
	font-size: 12px;
	font-weight: bolder;
	padding-top: 30px;
	padding-bottom: 30px;
	text-align: center;
}












