#slideshow{
	text-align: center;
	padding-bottom: 30px;
}
#slideshow img{
	cursor: pointer;
	margin: 10px;

	-webkit-transition: all .5s;
}
#slideshow img:hover{
	-webkit-box-shadow: 0 0 20px #ff5105;
	-moz-box-shadow: 0 0 20px #ff5105;
	-o-box-shadow: 0 0 20px #ff5105;
	box-shadow: 0 0 20px #ff5105;

	-webkit-transform: rotate(5deg);
	-moz-transform: rotate(5deg);
	-o-transform: rotate(5deg);
	transform: rotate(5deg);
}
#previewSlideshow{
	background: rgba(0,0,0,0.5);
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
}

#previewSlideshow #imagen{
	height: 350px;
	margin: 100px auto;
	width: 700px;

	-webkit-box-shadow: 0 0 50px #000;
	-moz-box-shadow: 0 0 50px #000;
	-o-box-shadow: 0 0 50px #000;
	box-shadow: 0 0 50px #000;
}
#previewSlideshow #descripcion{
	background: rgba(0,0,0,0.7);
	color: #fff;
	padding: 5px;
	position: relative;
	margin: -35px auto;
	text-align: center;
	width: 500px;
	z-index: 100;

	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	-o-border-radius: 30px;
	border-radius: 30px;
}
#previewSlideshow #cerrar{
	background: red;
	color: #fff;
	cursor: pointer;
	font-size:14px;
	font-weight: bold;
	margin: -345px 600px;
	padding: 10px;
	position: relative;
	text-align: center;
	width: 50px;


	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	-o-transition: all .3s;
	transition: all .3s;
}
#previewSlideshow #cerrar:hover{
	padding: 30px 10px 10px 10px;
}